.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.secondaryButton {
  --ifm-button-border-color: var(--ifm-color-white);
  color: var(--ifm-color-white);
}

.secondaryButton:hover,
.secondaryButton:focus {
  background-color: var(--ifm-color-white);
  border-color: var(--ifm-color-white);
  color: var(--ifm-color-primary);
}
