name: "Release"

on:
  push:
    branches:
      - 'release/v[0-9]+.[0-9]+.[0-9]+'

jobs:
  analyze:
    name: Static code analysis
    runs-on: windows-latest
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v1
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          dotnet tool install minver-cli --global
          dotnet tool restore
          $version = minver -t v
          $productVersion,$prerelease = $version -split '-',2
          echo "Detected product version: $productVersion"
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"Testably_Testably.Abstractions" /o:"testably" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /v:"$productVersion" /d:sonar.cs.vscoveragexml.reportsPaths=coverage.xml
          dotnet tool install --global dotnet-coverage
          dotnet restore -s 'nuget.config'
          dotnet build --no-incremental /p:NetCoreOnly=True
          dotnet-coverage collect 'dotnet test --no-build' -f xml  -o 'coverage.xml'
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"

  test-macos:
    name: Test (MacOS)
    runs-on: macos-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            5.0.x
            6.0.x
      - name: Build solution
        run: dotnet build /p:NetCoreOnly=True
      - name: Run tests
        run: dotnet test --no-build

  test-ubuntu:
    name: Test (Ubuntu)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            5.0.x
            6.0.x
      - name: Build solution
        run: dotnet build /p:NetCoreOnly=True
      - name: Run tests
        run: dotnet test --no-build

  test-windows:
    name: Test (Windows)
    runs-on: windows-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            5.0.x
            6.0.x
      - name: Build solution
        run: dotnet build /p:NetCoreOnly=True
      - name: Run tests
        run: dotnet test --no-build

  test-net-framework:
    name: Test (.NET Framework)
    runs-on: windows-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5
      - name: Setup VSTest
        uses: darenm/Setup-VSTest@v1
      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE
      - name: Restore Packages
        run: nuget restore Testably.Abstractions.sln
      - name: Build solution
        run: msbuild.exe Testably.Abstractions.sln /p:platform="Any CPU" /p:configuration="Release"
      - name: Run tests
        run: vstest.console.exe .\Build\Tests\Testably.Abstractions.Tests\net472\Testably.Abstractions.Tests.dll .\Build\Tests\Testably.Abstractions.Parity.Tests\net472\Testably.Abstractions.Parity.Tests.dll .\Build\Tests\Testably.Abstractions.Testing.Tests\net472\Testably.Abstractions.Testing.Tests.dll

  test-examples:
    name: Test (Examples)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            6.0.x
      - name: Build solution
        run: dotnet build /p:NetCoreOnly=True
      - name: Build example solution
        run: dotnet build Examples /p:UseFileReferenceToTestablyLibraries=True
      - name: Run example tests
        run: dotnet test Examples --no-build

  stryker:
    name: Analyze quality of unit test coverage with .NET Stryker
    runs-on: ubuntu-latest
    timeout-minutes: 300
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install .NET Stryker
        shell: bash
        run: |
          dotnet tool install dotnet-stryker --global
          dotnet tool restore
      - name: Analyze Testably.Abstractions
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
        shell: bash
        run: |
          dotnet stryker -f Tests/stryker-config.json -v "${GITHUB_REF#refs/heads/}" -r "Dashboard" -r "cleartext"
      - name: Analyze Testably.Abstractions.Testing
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
        shell: bash
        run: |
          dotnet stryker -f Tests/stryker-config-testing.json -v "${GITHUB_REF#refs/heads/}" -r "Dashboard" -r "cleartext"

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production
    needs: [analyze, test-macos, test-ubuntu, test-windows, test-net-framework, test-examples]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      - name: Prepare README.md
        shell: bash
        run: |
          # Remove the quality gate status badge
          grep -v "Quality Gate Status" ./README.md > ./README.md.backup && mv ./README.md.backup ./README.md
          # Change status badges to display explicit version
          echo "${GITHUB_REF#refs/heads/release/}"
          sed -i -e 's/branch=main/branch=release%2Fv0.7.1/g' ./README.md
          echo "${GITHUB_REF#refs/heads/}"
          sed -i -e 's/Testably.Abstractions%2Fmain/Testably.Abstractions%2Frelease%2Fv0.7.1/g' ./README.md
          sed -i -e 's/Testably.Abstractions%2Fmain/Testably.Abstractions%2Frelease%2Fv0.7.1/g' ./README.md
          sed -i -e 's/Testably.Abstractions\/main/Testably.Abstractions\/release\/v0.7.1/g' ./README.md
          # Add absolute path to example section
          sed -i -e 's/Examples\/README.md/https:\/\/github.com\/Testably\/Testably.Abstractions\/blob\/main\/Examples\/README.md/g' ./README.md
      - name: Build
        run: dotnet build --configuration "Release"
      - name: Upload nuget packages
        uses: actions/upload-artifact@v3
        with:
          name: Nuget
          path: '.\Build\Binaries\*.nupkg'
#      - name: Publish
#        run: nuget push **\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey ${{secrets.NUGET_API_KEY}}
